#side-menu {
  width: 160px;
  background-color: #fff;
  position: fixed;
  left: -160px;
  bottom: 0;
  top: 3.2rem;
  overflow-y: auto;
  z-index: 1;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

#side-menu.is-active {
  left: 0;
}

@media screen and (min-width: 1024px) {
  #side-menu {
    width: 200px;
    left: 0;
  }

  #side-menu.is-active {
    left: -200px;
  }
}

#sidemenu-drawer-container {
  position: relative;
}

#sidemenu-drawer-container.is-drawn span:nth-child(2) {
  width: 0;
  opacity: 0;
}

#sidemenu-drawer-container.is-drawn span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 4px;
}

#sidemenu-drawer-container.is-drawn span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
}

#sidemenu-drawer-container:hover {
  background-color: #f2f2f2;
}

@media screen and (min-width: 1024px) {
  #sidemenu-drawer-container span:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  #sidemenu-drawer-container span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 5px;
  }

  #sidemenu-drawer-container span:nth-child(3) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -4px;
  }

  #sidemenu-drawer-container.is-drawn span:nth-child(2) {
    width: 15px;
    opacity: 1;
  }

  #sidemenu-drawer-container.is-drawn span:nth-child(1) {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0;
  }

  #sidemenu-drawer-container.is-drawn span:nth-child(3) {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    top: 0.1px;
  }
}

#drawer {
  cursor: pointer;
  display: block;
}

#drawer span {
  background-color: #4a4a4a;
  display: block;
  height: 3px;
  width: 15px;
  position: relative;
  top: 0;
  margin-bottom: 1.5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 2px;
}

#drawer:hover span {
  background-color: #00d1b2;
}

#main-content {
  margin-left: 15px;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

@media screen and (min-width: 1024px) {
  #main-content {
    margin-left: 215px;
  }

  #main-content.is-shrinked {
    margin-left: 15px;
  }
}

