.table-responsive {
  display: block;
  min-height: 0.01%;
  overflow-x: auto;
  width: 100%;
}

.has-border {
  border-right: 1px solid #e0dfdf;
}

.filters a {
  border-bottom: 1px solid #e0dfdf;
}

.filters a:hover {
  background-color: #00d1b2 !important;
}

.d-title:hover {
  text-decoration: underline;
}

.disc-desc {
  max-width: 95%;
}

.disc-desc,
.reply {
  font-size: 14px;
}

pre {
  background-color: #474949;
  border-radius: 7px;
  margin-top: 15px;
  margin-bottom: 15px;
}

pre > code {
  color: #fff;
  font-size: 11px;
}

code {
  background-color: #e8e8e8;
  border-radius: 3px;
}

.replies article .media-content {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .replies article .media-right {
    visibility: hidden;
  }

  .replies article:hover .media-right {
    visibility: visible;
  }
}

@media screen and (max-width: 769px) {
  #user-details,
  #xp-details {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 20px;
  }

  #user-details h1,
  #xp-details h1 {
    font-size: 18px;
  }

  #user-details h4,
  #xp-details h4 {
    font-size: 20px;
  }

  #user-details p,
  #xp-details p {
    font-size: 14px;
  }
}

.hero.is-primary .tabs.is-boxed li.is-active a {
  background-color: whitesmoke;
}

.user-image {
  border-radius: 50%;
  max-height: 50px;
  min-height: 50px;
}

.leaderboard-image {
  border-radius: 50%;
  max-width: 65px;
  max-height: 65px;
}

.leaderboard-position {
  font-size: 120px;
  color: #f7f7f7;
  line-height: 1;
}

@media screen and (max-width: 769px) {
  .leaderboard-position {
    font-size: 50px;
    color: #f7f7f7;
  }
}

@media screen and (min-width: 770px) and (max-width: 1023px) {
  .leaderboard-position {
    font-size: 70px;
    color: #f7f7f7;
  }
}

span#xp {
  color: #c4492b;
}

.panel {
  max-width: 95%;
}

.panel-block .media-content {
  overflow: hidden;
}

.nav-user-img {
  border-radius: 50%;
}

span.solved i {
  color: #ff6500;
}

.dropdown-content .notifications {
  max-height: 450px;
  overflow-y: auto;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

