.table-responsive {
  display: block;
  min-height: 0.01%;
  overflow-x: auto;
  width: 100%;
}

.has-border {
  border-right: 1px solid #e0dfdf;
}

.filters a {
  border-bottom: 1px solid #e0dfdf;
}

.filters a:hover {
  background-color: #00d1b2 !important;
}

.d-title:hover {
  text-decoration: underline;
}

.disc-desc,
.replied {
  font-size: 14px;
}

pre {
  background-color: #474949;
  border-radius: 7px;
  max-width: 95%;
  margin-top: 10px;
}

pre > code {
  color: #fff;
  font-size: 11px;
}

code {
  background-color: #e8e8e8;
  border-radius: 3px;
}

