.table-responsive {
  display: block;
  min-height: 0.01%;
  overflow-x: auto;
  width: 100%;
}

.has-border {
  border-right: 1px solid #e0dfdf;
}

.filters a {
  border-bottom: 1px solid #e0dfdf;
}

.filters a:hover {
  background-color: #00d1b2 !important;
}

.d-title:hover {
  text-decoration: underline;
}

.disc-desc, .reply {
  font-size: 14px;
}

pre {
  background-color: #474949;
  border-radius: 7px;
  max-width: 95%;
  margin-top: 10px;
}

pre>code {
  color: #fff;
  font-size: 11px;
}

code {
  background-color: #e8e8e8;
  border-radius: 3px;
}

.replies article .media-content {
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .replies article .media-right {
    visibility: hidden;
  }
  .replies article:hover .media-right {
    visibility: visible;
  }
}

@media screen and (max-width: 769px) {
  #user-details, #xp-details {
    text-align: center;
    margin-top: 0 !important;
    margin-bottom: 20px;
  }
  #user-details h1, #xp-details h1 {
    font-size: 18px;
  }
  #user-details h4, #xp-details h4 {
    font-size: 20px;
  }
  #user-details p, #xp-details p {
    font-size: 14px;
  }
}

.hero.is-primary .tabs.is-boxed li.is-active a {
  background-color: whitesmoke;
}

.user-image {
  border-radius: 50%;
  max-height: 50px;
  min-height: 50px;
}

span#xp {
  color: #c4492b;
}

.panel {
  max-width: 95%;
}

.panel-block .media-content {
  overflow: hidden;
}

.nav-user-img {
  border-radius: 50%;
}

span.solved i {
  color: #ff6500;
}
